*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin' , sans-serif;
}
body
{
    
    background-image: src="images/p1.0.jpg" alt="Cephas the img";
}
.home-text
{
    color: #000; 
}
.card {
    background-color: rgba(255, 255, 255, 0.863); /* White background */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Optional: Padding inside the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Shadow for some depth */
    max-width: 1000px; /* Optional: Width of the card */
    margin: 20px auto;
    max-height: auto; /* Optional: Center the card on the page */
  }
  
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #201c1ca1;
  
}

.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #0ef;
}
.home
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    background-image: url("images/p1.0.jpg");
    background-size: cover;
    background-position: center;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.55); /* White layer with 55% transparency */
    pointer-events: none; /* Ensures the layer doesn't interfere with interactions */
}
.home-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: -3px;
}
.img {
   /* position: fixed; */
    /* background-attachment: fixed; */
    /* border: #0ef; */
    width: fit-content;
    align-items: center;
    background: rgb(10, 61, 65);
    /* align-items: center; */
    height: fit-content;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    margin: 30px 15px 30px 0;
    text-decoration: none;
}
.home-sci a:hover {
    background: #0ef;
    color: rgb(6, 31, 32);
    box-shadow: 0 0 20px #0ef;
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    font-size: 16px;
    color: rgb(8, 34, 36);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
