*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin' , sans-serif;
}
body
{
    color: #ededed;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #0ef;
}
.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: rgb(7, 37, 39);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 600;
    margin: -3px;
}
.img {
   /* position: fixed; */
    /* background-attachment: fixed; */
    /* border: #0ef; */
    width: fit-content;
    align-items: center;
    background: rgb(10, 61, 65);
    /* align-items: center; */
    height: fit-content;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    margin: 30px 15px 30px 0;
    text-decoration: none;
}
.home-sci a:hover {
    background: #0ef;
    color: rgb(6, 31, 32);
    box-shadow: 0 0 20px #0ef;
}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    font-size: 16px;
    color: rgb(8, 34, 36);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
